<p>The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. The first step to doing anything is to believe you can do it. See it finished in your mind before you ever start. But they're very easily killed. Clouds are delicate. You can create anything that makes you happy.</p>

<p>Work on one thing at a time. Don't get carried away - we have plenty of time. We don't have anything but happy trees here. It just happens - whether or not you worried about it or tried to plan it. It's hard to see things when you're too close. Take a step back and look. Let's get crazy. We start with a vision in our heart, and we put it one canvas.</p>

<p>We spend so much of our life looking - but never seeing. You don't have to be crazy to do this but it does help. Go out on a limb - that's where the fruit is. Little trees and bushes grow however makes them happy.</p>

<p>You can do anything here - the only pre-requisite is that it makes you happy. You're the greatest thing that has ever been or ever will be. You're special. You're so very special. You're meant to have fun in life. You have to make those little noises or it won't work.</p>

<p>Now, we're going to fluff this cloud. I guess that would be considered a UFO. A big cotton ball in the sky. Just take out whatever you don't want. It'll change your entire perspective. Sometimes you learn more from your mistakes than you do from your masterpieces.</p>

<p>Nothing wrong with washing your brush Just beat the devil out of it. It's so important to do something every day that will make you happy. How to paint. That's easy. What to paint. That's much harder. This is the fun part</p>

<p>I want everbody to be happy. That's what it's all about. You can get away with a lot. I get carried away with this brush cleaning I sincerely wish for you every possible joy life could bring. If you do too much it's going to lose its effectiveness. Think about a cloud. Just float around and be there.</p>


<p>Filler text courtesy of <a href="http://www.bobrosslipsum.com/">bobrosslipsum.com</a></p>
