body {
	/*background-image: url("body-background-image.png");*/
	background-image: url(body-background-image.jpg); 
    background-color: #cccccc;
    background-size: 100%;
}
/*
h1 {
	color: white;
	font-size: 24pt;
 	position: absolute;
 	margin-left: 40%;
 	




}*/

h1 {
	font-family: helvetica, arial, sans-serif;
	color: #FF6699;
    font-size: 18pt;
    position: relative;
    padding-left: 40%;

}

h3 {
    font-family: helvetica, arial, sans-serif;
    color: pink;
    font-size: 14pt;
}

p {
    font-family: helvetica, arial, serif;
    color: yellow;
    font-size: 10pt;

}

#photo-content{

	padding: auto;
    margin: auto;
    text-align: center;
}

.field {
    font-family: helvetica, arial, serif;
    color: yellow;
    font-size: 10pt;
}

a {
    color: white;
    font-size: 20px;
}

th {
    font-size: 20px;
    color: yellow;
    border-style: solid;
}

tr {

    font-family: helvetica, arial, serif;
    color: yellow;
    font-size: 10pt;
}


td{
    font-family: helvetica, arial, serif;
    color: yellow;
    font-size: 10pt;
}



#new {
  
  position: static;
  font-size: helvetica, arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 80px;
  padding-right: 60%;
  margin-right: 60%;
}

#new-sign {
    position: absolute;
    margin-left: 40%;
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;

}

#new-plus {
     position: absolute;
     margin-left: 50%;


}








/* people.scss file for LinkIcon Example */

.show {
    background:url('view.png'); }

.show:hover {
    background:url('viewhover.png'); }

.new {
    background:url('new.png'); }

.new:hover {
    background:url('newhover.png'); }

.edit {
    background:url('edit.png'); }

.edit:hover {
    background:url('edithover.png'); }

.destroy {
    background:url('destroy.png'); }

.destroy:hover {
    background:url('destroyhover.png'); }

.back {
    background:url('back.png'); }

.back:hover {
    background:url('backhover.png'); }

.new {
    background:url('new.png'); }

.new:hover {
    background:url('newhover.png'); }

.show, .new, .edit, .destroy, .back {
    display:inline-block;
    height:32px;
    width:32px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; 
    background-size:32px 32px; }

.show:hover, .new:hover, .edit:hover, .destroy:hover, .back:hover {
    background-size:32px 32px; }
/*

.index_image {
  background-color: 553565;
  padding: 1em;
  width: 260px;
  border: dotted;

  margin-left: auto;
  margin-right: auto;
}

.content{

  margin-left: auto;
  margin-right: auto;
  align:center;
  font-family: helvetica, serif;
  text-size: 12pt;
  color: pink;
*/