<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Saledate</th>
      <th>Saleprice</th>
      <th colspan="2"> Show</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.saledate %></td>
        <td><%= sale.saleprice %></td>
        <td><%= link_to 'Show', sale %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
